/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@import "@michelin/theme/theming";

$theme: mat-light-theme(
  (
    color: (
      primary: mat.m2-define-palette($mic-blue, A400, A100, A700),
      accent: mat.m2-define-palette($mic-yellow, A400, A100, A700),
      warn: mat.m2-define-palette($mic-red, A400, A100, A700),
    ),
    typography: $michelin-typography,
    density: 0,
  )
);

@include design-system-theme($theme, true);
